<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Book Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active" [routerLink]="['']">
            <a class="nav-link">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" [routerLink]="['/store']">
            <a class="nav-link" >Store</a>
          </li>
          <li class="nav-item" [routerLink]="['/admin']">
            <a class="nav-link">Admin</a>
          </li>
          <li class="nav-item" [routerLink]="['/contact']">
            <a class="nav-link">Contact</a>
          </li>
          <li class="nav-item" [routerLink]="['/cart']">
            <a class="nav-link">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>