.app-wrapper {
    // margin-top: 64px;
    height: calc(100vh - 65px);
}

.app-wrapper.with-sub-nav {
    margin-top: 110px;
    height: calc(100vh - 111px);
}

mat-progress-bar {
    width: 100vw !important;
    position: absolute !important;
    left: 0 !important;
}

.fixed-top {
position: fixed !important;
top: 0 !important;
left: 0 !important;
}

.admin-nav {
    grid-template-columns: 33% 33% 33% !important;
}

.admin-nav-reviewer {
    grid-template-columns: 50% 50% !important;
}
